# Dependencias
node_modules/

# Builds genéricos
dist/

# Cache y tooling
.turbo/
.cache/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno
.env
.env.*
!.env.example

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

#Prisma
/src/generated/prisma

# Testing & Coverage
coverage/
*.lcov
.nyc_output/
.vitest/

# Environment
.env.test
.env.test.local